* {
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.items {
    position: relative;
    width: 60%;
    height: 600px;
    display: grid;
    grid-template-columns: 30% 70%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 8px 10px 0px #888888;
}

.left {
    position: relative;
    background-image: url("../image/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
}

.right{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

form{
    box-sizing: border-box;
    margin: 30px;
    height: 500px;
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 15px;
}

.form-right {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.form-right > .input{
    margin: 5px;
    display: flex;
    flex-direction: column;
}

.form-right > .input > label,
.form-left > .input > label {
    font-size: 15px;
    font-family: "Open Sans";
}

.form-right >.input > input,
.form-left > .input > input {
    width: 100%;
    height: 30px;

}

.choix-payement {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.choix-payement > div > input{
    accent-color: #16B178;
}

.form-left {
    display: grid;
    grid-template-columns: 1fr;
    
}

.form-left > .input {
    margin: 5px;
    display: flex;
    flex-direction: column;
}

.form-left > .input > label {
    font-family: "Open Sans";
    font-size: 15px;
}

.form-left > .input:nth-child(1) > input{
    border: 1px solid #16B178;
}

.form-left > .input:nth-child(2) > input{
    border: 1px solid red;
}

.form-left > .input:nth-child(2) > span > ion-icon{
    border-radius: 10px;
    color: red;
    position: relative;
    top: -25px;
    left: 275px;
}

.from-bottom{
    grid-row: 2/3;
    grid-column: 1/3;
}

.from-bottom > div {
    margin-top: 10px;
    background-color: grey;
    text-align: center;
    height: 4px;
    overflow: hidden;
}

.from-bottom > div > span{
    background-color: #16B178;
    color: white;
    padding: 4px;
    position: absolute;
    bottom: 15%;
    left: 45%;
}

.fill{
    width: 50%;
    height: 4px;
    background-color: #16B178;
    animation: 3s;
}

.submit{
    grid-column: 2/3;
    align-self: center;
    justify-self: center;
}

.submit > button {
    background-color: #16B178;
    color: white;
    padding: 15px;
    width: 100px;
    border-radius: 10px;
    border: none;
}

.submit > button:nth-child(2) {
    background-color: white;
    color: #16B178;
    border: 1px solid #16B178;
}

.left{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

@media screen and (max-width:1280px) {
    .form-left .input:nth-child(2) span{
      margin-left: -70px;
    }

    .from-bottom > div > span{
        position: absolute;
        bottom: 12.4%;
        left: 45%;
    }
}

@media screen and (max-width:1114px) {
    .form-left .input:nth-child(2) span{
      margin-left: 10px;
    }

    .from-bottom > div > span{
        position: absolute;
        bottom: 9%;
        left: 100px;
    }

    .right .submit{
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        gap: 20px;
        top: 1px;
    }

    .items{
        width: 90%;
    }
}

@media screen and (max-width:320px) {
  .container .items {
    grid-template-columns: 1fr;
    overflow:scroll ;
  }

  .left{
    height: 300px;
  }

  .form-left .input:nth-child(2) span{
    position: absolute;
    left: -90px;
    bottom: 358px;
  }

  .right form{
    display: flex;
    flex-direction: column;
  }


  .from-bottom > div > span{
    position: absolute;
    bottom: -244px;
}

.choix-payement{
    display: flex;
    flex-direction: row;
}

.choix-payement label{
    font-size: 12px;
}

.right .submit{
    padding-bottom: 20px;
    margin-bottom: 20px;
}

}

@media screen and (max-width:414px) {
  .container .items {
    grid-template-columns: 1fr;
    overflow:scroll ;
  }

  .left{
    height: 300px;
  }

  .form-left .input:nth-child(2) span{
    position: absolute;
    bottom: 358px;
  }

  .right form{
    display: flex;
    flex-direction: column;
  }


  .from-bottom > div > span{
    position: absolute;
    bottom: -244px;
}

.choix-payement{
    display: flex;
    flex-direction: row;
}

.choix-payement label{
    font-size: 12px;
}

.right .submit{
    padding-bottom: 20px;
    margin-bottom: 20px;
}

}

@media screen and (max-width:375px) {
  .container .items {
    grid-template-columns: 1fr;
    overflow:scroll ;
  }

  .left{
    height: 300px;
  }

  .form-left .input:nth-child(2) span{
    position: absolute;
    left: -30px;
    bottom: 358px;
  }

  .right form{
    display: flex;
    flex-direction: column;
  }


  .from-bottom > div > span{
    position: absolute;
    bottom: -244px;
}

.choix-payement{
    display: flex;
    flex-direction: row;
}

.choix-payement label{
    font-size: 12px;
}

.right .submit{
    padding-bottom: 20px;
    margin-bottom: 20px;
}

}

@media screen and (max-width:360px) {
  .container .items {
    grid-template-columns: 1fr;
    overflow:scroll ;
  }

  .left{
    height: 300px;
  }

  .form-left .input:nth-child(2) span{
    position: absolute;
    left: 1000px;
    bottom: 358px;
  }

  .right form{
    display: flex;
    flex-direction: column;
  }


  .from-bottom > div > span{
    position: absolute;
    bottom: -244px;
}

.choix-payement{
    display: flex;
    flex-direction: row;
}

.choix-payement label{
    font-size: 12px;
}

.right .submit{
    padding-bottom: 20px;
    margin-bottom: 20px;
}

}

@media screen and (max-width:390px) {
  .container .items {
    grid-template-columns: 1fr;
    overflow:scroll ;
  }

  .left{
    height: 300px;
  }

  .form-left .input:nth-child(2) span{
    position: absolute;
    left: -20px;
    bottom: 358px;
  }

  .right form{
    display: flex;
    flex-direction: column;
  }


  .from-bottom > div > span{
    position: absolute;
    bottom: -244px;
}

.choix-payement{
    display: flex;
    flex-direction: row;
}

.choix-payement label{
    font-size: 12px;
}

.right .submit{
    padding-bottom: 20px;
    margin-bottom: 20px;
}

}

@media screen and (max-width:428px) {
  .container .items {
    grid-template-columns: 1fr;
    overflow:scroll ;
  }

  .left{
    height: 300px;
  }

  .form-left .input:nth-child(2) span{
    position: absolute;
    left: 17px;
    bottom: 358px;
  }

  .right form{
    display: flex;
    flex-direction: column;
  }


  .from-bottom > div > span{
    position: absolute;
    bottom: -244px;
}

.choix-payement{
    display: flex;
    flex-direction: row;
}

.choix-payement label{
    font-size: 12px;
}

.right .submit{
    padding-bottom: 20px;
    margin-bottom: 20px;
}

}

@media screen and (max-width:390px) {
  .container .items {
    grid-template-columns: 1fr;
    overflow:scroll ;
  }

  .left{
    height: 300px;
  }

  .form-left .input:nth-child(2) span{
    position: absolute;
    left: -18px;
    bottom: 358px;
  }

  .right form{
    display: flex;
    flex-direction: column;
  }


  .from-bottom > div > span{
    position: absolute;
    bottom: -244px;
}

.choix-payement{
    display: flex;
    flex-direction: row;
}

.choix-payement label{
    font-size: 12px;
}

.right .submit{
    padding-bottom: 20px;
    margin-bottom: 20px;
}

}

@media screen and (max-width:375px) {
  .container .items {
    grid-template-columns: 1fr;
    overflow:scroll ;
  }

  .left{
    height: 300px;
  }

  .form-left .input:nth-child(2) span{
    position: absolute;
    left: -30px;
    bottom: 358px;
  }

  .right form{
    display: flex;
    flex-direction: column;
  }


  .from-bottom > div > span{
    position: absolute;
    bottom: -244px;
}

.choix-payement{
    display: flex;
    flex-direction: row;
}

.choix-payement label{
    font-size: 12px;
}

.right .submit{
    padding-bottom: 20px;
    margin-bottom: 20px;
}

}